.DS_Store

# Folders
node_modules
src
build/__playground__
build/__test__
__test__coverage__
.github
.vscode
.idea
assets
scripts
.circleci
.git

# Files
**.tsbuildinfo
tsconfig.json
package-lock.json
yarn.lock
bun.lockb
jest.config.js
.eslintrc.json
.gitignore
CHANGELOG.md

# backup created by custom publish script
package-backup.json