.DS_Store

# Folders
node_modules
src
build/__playground__
build/__test__
__test__coverage__
.github
.vscode
.idea
assets
scripts
.circleci
.git

# Config
nodemon.json
tsconfig.json
jest.config.js
.eslintrc.json

# Files
**.tsbuildinfo
package-lock.json
yarn.lock
bun.lockb
.gitignore
CHANGELOG.md

# backup created by custom publish script
package-backup.json