.vscode
.DS_Store
.gitignore

# Folders
node_modules
src
dist/__playground__
dist/__test__
__test__coverage__

# Files
**.tsbuildinfo
tsconfig.json
package-lock.json
README.md
bun.lockb
jest.config.js
.eslintrc.json